# #############################################################################
# conda_requirements.txt
# ======================
# Author : Sepand KASHANI [kashani.sepand@gmail.com]
# #############################################################################

# This file contains a superset of Pypeline's dependencies listed in `requirements.txt` that can be
# installed through conda packages.  These packages are the preferred way to install dependencies if
# available.
#
# When modifying dependencies, don't forget to update both `requirements.txt` and
# `conda_requirements.txt`.

python == 3.6.*

astropy == 4.0.*
healpy == 1.12.*
#ImoT-tools == 1.1.*        #no conda
ipython == 7.5.*
matplotlib == 3.3.*
numexpr == 2.6.*
numpy == 1.19.5
pandas >= 1.0.5
plotly == 3.5.*
#pycsou == 1.0.6            #no conda
#pyFFS == 2.1.1             #no conda
pyproj == 1.9.*
pytest == 4.5.*
python-casacore == 2.2.*
scikit-learn == 0.21.*
scipy == 1.5.*
sphinx == 2.1.*
sphinx_rtd_theme == 0.4.*
tqdm == 4.29.*
#cupy-cuda102               #no conda
